# Jupyter notebook stuff
.ipynb_checkpoints
 
__pycache__/
 
# General
.DS_Store
.idea/
 
 
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
._*
*.~lock*
 
# VS Code
.vscode
 
.twarc
twarc.log
 
## Auth
api_key_my.py
api_key.py# Jupyter notebook stuff
.ipynb_checkpoints

__pycache__/

# General
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
._*
*.~lock*

# VS Code
.vscode

.twarc
twarc.log

## Auth
api_key_my.py
